/* home css */
.home .content {display:block; position:relative; padding-top:60px}
.home video {height:100%;}
.home h2 { font-size:45px; margin-bottom:20px; color:#eaf8ff; font-family: 'Courgette', cursive;}
.home p {line-height:25px;  font-family: 'Courgette', cursive;}

/* profile css */
.profile {background-color: #74B49B;}
.profile .tbl-title {width:600px; text-align:center; background-color:#5C8D89; color:#fff; margin:0 auto; border-bottom:1px solid #ddd; padding:7px 0;}
.profile .tbl {height:calc(100vh - 150px); padding-bottom:50px; overflow-y:auto; position:relative; top:50px; opacity:0; text-align:center;}
.profile .tbl-content {width:600px; display:flex; flex-direction: row; justify-items: center; margin:0 auto;}
.profile .tbl-content::after {content:''; display:block; clear:both;}
.profile .bg-video {width:220px; display:flex; align-items: center; justify-items: center; background-color:#000; border-bottom:none;}
.profile table {width:380px; table-layout: fixed; border-collapse: collapse; margin:0 auto;}
.profile table th {text-align:center; font-weight:500; background-color:#5C8D89;  color:#fff; padding:7px; border-bottom:1px solid #ddd; font-size:14px;}
.profile table td {background-color:#fff; color:#333; border-bottom:1px solid #ddd; font-size:14px; padding:7px; word-break: keep-all; line-height:22px; text-align:left;}
.profile table tr:last-child th, .profile table tr:last-child td {border-bottom:none;}
.profile table a {color:#0275d8; text-decoration: none;}
.profile .floating-btn {position:static; margin:15px auto 0;}

.tooltip-wrap {font-size:10px; color:#0275d8; display:inline-block; vertical-align: top; position:relative; cursor:pointer;}
.tooltip {display:none;}
.tooltip-wrap:hover .tooltip {display:block; position:absolute; right:0; bottom:14px; width:120px; border:1px solid #333; border-radius:3px; background-color:#fff; padding:7px; line-height:20px; font-size:13px; color:#333; cursor: default;}

.bg-lg-text {font-size:130px; letter-spacing: -5px; color:#fff; position:absolute; font-family: 'Black Han Sans', sans-serif; opacity:0;}
.left-to-right {left:-100px; top:50px;}
.right-to-left {right:-100px; bottom:50px;}

/* focused - animation */
.profile.focused .tbl{ animation: movingContents 0.5s forwards ease-out 1.0s;}
.profile.focused .left-to-right {animation: left-to-right 0.3s ease-in-out 0.5s forwards;}
.profile.focused .right-to-left {animation: right-to-left 0.3s ease-in-out 0.7s forwards;}


/* works css */
.works {background-color:#849bc3;}
.works .content {display:block;}
.small-nav {margin-bottom:20px; text-align:center; position:relative; }
.small-nav li {display:inline-block; width:15px; height:15px; background-color:#F9F8EB; border-radius:50%; margin-right:20px; cursor:pointer;}
.small-nav li:last-child {margin-right:0;}
.small-nav li.focused {background-color:#A7D7C5;}
.works .floating-btn {position:absolute; right:0; top:38px;}

.work-frame {width:100%; height:calc(100vh - 140px); overflow-y:auto; display:none; opacity:0; position:relative; left:-50px;}
.work-frame.focused {display:block; animation:movingContents2 0.5s forwards;}
.work-frame .img-area { display:inline-block; position:relative; margin-left:10px;margin-bottom:30px;}
.work-frame .img-area img {width:calc(100% - 10px); border:1px solid #F9F8EB; }
.work-frame .title {padding:7px 10px; font-size:18px; font-family: 'Song Myung', serif;background-color:#F9F8EB; position:absolute; left:-10px; bottom:-10px; box-shadow: 5px 5px 5px rgba(0,0,0,0.1);}
.work-frame .desc-area { height:350px; box-shadow: 5px 5px 5px rgba(0,0,0,0.1); display:flex; }
.work-frame .img-area2 {width:250px;overflow:hidden;}
.work-frame .img-area2 img {width:calc(100% - 12px); margin-left:10px; }
.work-frame .txt-area-wrap {flex:1; }
.work-frame .txt-area { height:calc(100% - 60px); margin-left:5px; margin-right:10px; 
    background: linear-gradient(to bottom,  #f9f8eb 0%,#ffffff 100%); 
     padding:30px; }
.work-frame .txt-area .row {margin-bottom:15px;}
.work-frame .txt-area .row:last-child {margin-bottom:10px;}
.work-frame .txt-area .row span {display:flex; flex-direction: row; padding-left:13px; word-break: keep-all;}
.work-frame .txt-area .row span:first-child {position:relative; line-height:25px; font-weight:500; font-family: 'Song Myung', serif;}
.work-frame .txt-area .row span:first-child::before {content:''; display:inline-block; width:5px; height:5px; background-color:#1597E5; border-radius:50%; position:absolute; left:0; top:50%; transform:translateY(-50%); }
.work-frame .txt-area .row a {text-decoration: none; color:#5C8D89}


/* contact css */
.contact {display:flex; justify-content:center; align-items:center; background-color:#31364b; color:#fff; text-align: center;}
.contact .content {padding-top:0;}
.contact p {padding:30px 70px; display:inline-block; border:1px solid #ddd; color:#fff; position:relative; line-height:25px;}
.contact p::before {content:''; display:block; width:50px; height:50px; border:1px solid #ddd; position:absolute; left:-25px; top:-25px;}
.contact p::after {content:''; display:block; width:100px; height:100px; border:1px solid #ddd; position:absolute; right:-50px; bottom:-50px;}
.contact .logo {width:45px; height:45px; margin-bottom:10px;}
.contact .email {margin-top:15px; display:inline-block; font-size:13px;}


@keyframes movingContents {
    0% {top:50px; opacity:0;}
    100% {top:0; opacity:1;}
}
@keyframes movingContents2 {
    0% {left:-50px; opacity:0;}
    100% {left:0; opacity:1;}
}
@keyframes left-to-right {
    0% {left:-100px; opacity:0;}
    100% {left:20px; opacity:0.2;}    
}
@keyframes right-to-left {
    0% {right:-100px; opacity:0;}
    100% {right:20px; opacity:0.2;}    
}


/* 태블릿 */
@media (min-width:767px) and (max-width:1024px) {
    .home .content {width:90%;}
}
/* 모바일 */
@media (max-width:766px) {
    .home .content {padding-top:120px;}
    .home h2 {font-size:35px;}
    .home .floating-btn {top:300px;}
    .profile .content {padding-top:45px;}
    .profile .tbl-content {width:100%; flex-direction: column;}
    .profile .tbl-title {width:100%; }
    .profile .bg-video {width:100%; height:100px; overflow:hidden;}
    .profile .bg-video video {height:100%;}
    .profile table {width:100%;}
    .bg-lg-text{display:none;}
    .works .content {padding-top:45px;}
    .works .floating-btn {top:60px; font-size:15px;}
    .small-nav {margin-top:15px; text-align: left; margin-left:15px;}
    .work-frame {height:calc(100vh - 150px);}
    .work-frame .desc-area {height:auto;}
    .work-frame .img-area2 {display:none;}
    .work-frame .txt-area-wrap {width:100%;}
    .work-frame .txt-area .row span {word-break:break-all}
    .contact p::after {width:80px; height:80px; right:-40px; bottom:-40px;}
}