@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Do+Hyeon&family=Gruppo&family=Noto+Sans+KR:wght@300;500;700&family=Song+Myung&display=swap');

* {margin:0; padding:0;}

html, body, div, ul li, table, th, td, input, textarea, p {margin:0; padding:0; color:#333; font-size:15px; font-family: 'Noto Sans KR', sans-serif; font-weight:300; letter-spacing: -0.3px;}
body {height:100%; background-color:#dfdfdf;}
image{outline:none; border:none;}
ul li {list-style-type:none;}

.wrapper {display:flex; flex-direction: column; height:100vh;}
.header, .container, .footer {width:100%;}
.content {width:1024px; margin:0 auto;}

/* text */
.normal {font-weight:300 !important;}
.mid-strong {font-weight:500;}
.lg {font-size:17px;}
.sm {font-size:11px;}

/* header */
.header {background-color:rgba(66, 97, 116, 0.091); color:#fff; display:flex; justify-content: center; position:fixed; left:0; top:0; z-index:1; transition:all 0.2s; height:36px;}
.header .content {display:flex; flex-direction: row; position:relative;}
.header h1 {display:flex; align-items: center;}
.logo {width:20px; height:20px; transition:all 0.3s ease-in-out;}
.logo:hover {transform:rotate(180deg);}
.header .nav {flex:1; }
.header ul {display:flex; justify-content: flex-end;}
.header ul li {cursor:pointer; display:inline-block; margin:0 8px; line-height:36px; color:#fff; transition:all 0.3s; text-transform: uppercase; }
.header ul li:last-child {margin-right:0;}
.header ul li:hover {color:#585858;}

/* container */
.container .content {padding-top:50px; position:relative}
.screen-wrap {width:100%; position:relative; left:0px;/* here */ transition:all 0.5s ease-in;}
.screen {position:relative; display:none; opacity:0;}
.screen.focused {display:block; position:relative; opacity:1;}

/* footer */
.footer {text-align:center; line-height:34px; background-color:#dfdfdf; color:#fff;  }
.footer p {font-size:11px;}

/* common */
.bg {width:100%; height:100%; background-color:rgba(0,0,0,0.2); position:absolute; left:0; top:0; bottom:0; right:0; display:flex; justify-content: center; }

/* loading */
.first-loading, .loading {position:fixed; left:0; top:0; bottom:0; right:0; width:100%; height:100%; opacity:1; background-color:#f1f2f3; display:flex; justify-content: center; align-items: center; z-index:2;}
.first-loading img, .loading img {width:100px;}


/* 태블릿 */
@media (min-width:767px) and (max-width:1024px) {
    .content {width:85%;}
}
/* 모바일 */
@media (max-width:766px) {
    .content {width:90%;}
}